<body>
	<header>
        <h1>Welcome to EngageNet!</h1>
        <p>Connecting Companies and Volunteers</p>
    </header>
    <nav>
        <a href="#about">About</a>
        <a href="#technologies">Technologies</a>
        <a href="#contact">Contact</a>
    </nav>
    <section id="about">
        <h2>About EngageNet</h2>
        <p>EngageNet is a dynamic networking platform designed to connect companies with individuals eager to volunteer for various events. Our mission is to bridge the gap between organizations seeking enthusiastic volunteers and individuals looking to engage in meaningful community initiatives.</p>

				<ul>
					<li>
						<h3> For Companies</h3>
						<p>On EngageNet, companies and organizations can register and easily post upcoming events where volunteers are needed. This platform serves as a powerful tool to manage your volunteer engagement, increase the visibility of your events, and actively participate in community building.</p>
					</li>
					<li>
						<h3> For Volunteers</h3>
						<p>If you are someone looking to make a difference, EngageNet provides the perfect platform to find volunteering opportunities that align with your skills and interests. Our website facilitates connections with companies hosting events, helping you give back to the community, enhance your skills, and meet like-minded volunteers.</p>
					</li>
				</ul>
				
				<p>Our platform is inspired by the professional networking features of LinkedIn, adapted to focus specifically on volunteer opportunities and community engagement. Here, every connection and activity is a step toward community development and personal growth.</p>
    </section>
    <section id="technologies">
				<h2>Development Details</h2>
				<p>EngageNet is built using a combination of powerful technologies and frameworks to ensure a robust, scalable, and user-friendly experience. Here’s a breakdown of the core technologies used in our platform:</p>

        <h3>Technologies Used</h3>
        <p>We use Angular for our dynamic single-page applications, C# with ASP.NET Core for robust server-side logic, and PostgreSQL coupled with Entity Framework Core for seamless data management. Our architecture is enhanced by design patterns such as MediatR and CQRS to ensure scalable and maintainable code.</p>

				<h3>Frontend</h3>
        <p>Our choice for the frontend framework is Angular, known for its ability to create dynamic single-page applications (SPAs). Angular's comprehensive ecosystem, including its dependency injection, routing, and template building capabilities, has enabled us to build a highly interactive and responsive interface for EngageNet.</p>

				<h3>Backend</h3>
        <p>The backend of EngageNet is developed using C# in conjunction with ASP.NET Core, which provides a scalable and efficient framework for building our server-side logic. This combination allows us to create a robust API that handles all backend operations, including data management and interaction with our PostgreSQL database.</p>

				<h3>Database</h3>
        <p>We chose PostgreSQL for our relational database management system due to its advanced features, reliability, and strong performance with large datasets. PostgreSQL effectively supports our data persistence needs, ensuring data integrity and security.</p>

				<h3>ORM</h3>
        <p> To interact with our database, we use Entity Framework Core, an object-relational mapper that allows us to work with our database using C# objects, eliminating the need for most of the data-access code. EF Core has streamlined our data handling processes, making CRUD operations seamless and efficient.</p>

				<h3>Design Patterns and Architectural Choices</h3>
        <p>We have incorporated the MediatR library to implement the mediator design pattern, which helps in reducing the dependencies between our application's components. This pattern facilitates a clean separation of concerns and a more organized codebase by handling requests and responses via a single mediator object.</p>

				<h3>CQRS (Command Query Responsibility Segregation)</h3>
        <p>Our architecture utilizes the CQRS pattern to separate read and write operations, allowing for more scalable and maintainable code. This approach enhances performance and scalability by optimizing the data retrieval and update processes independently.</p>
    </section>
		<section id="contact">
        <div class="contact-card image-container">
            <img [src]="imagePath" alt="Profile Image of John Doe">
            <h3>Patrick Shoffner</h3>
            <p>SEO of the Company</p>
        </div>
        <div class="contact-card image-container">
            <img [src]="joshuaImagePath" alt="Profile Image of Jane Smith">
            <h3>Joshua Lester</h3>
            <p>Lead Developer</p>
        </div>
				<div class="contact-card image-container">
					<img [src]="sergeiImagePath" alt="Profile Image of Jane Smith">
					<h3>Sergei Ashikhmin</h3>
					<p>Janitor</p>
			</div>
		</section>
    <footer>
        <p>© 2024 EngageNet. All rights reserved.</p>
    </footer>
</body>	
